body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: aquamarine;
    color:black;
    margin: 0;
    padding: 0;
}

header{
    background-color: beige;
    color:aqua;
    padding: 20px;
    text-align: center;
}

.about{
    padding: 20px;
}

section{
    padding: 20px;
    margin: 10px auto;
    max-width: 600px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.226);
}

h2{
    color:aquamarine;
}

footer{
    text-align: center;
    padding: 10px;
    background:white;
}

.social-links a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.social-links a:hover {
    color: aquamarine;
    text-decoration: underline;
    font-size: 30px;
}

footer p {
    color: black;
    font-weight: bold;
    font-size: 14px;
}

.project-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.project-card{
    background-color: white;
    border-left: 4px solid #28a745;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.226);
    width: 250px;
    transition: transform 0.2s;
}

.project-card:hover {
    transform: translateY(-5px);
}

.project-card h3{ 
    color: #28a745;
    margin-top: 0;
}

.project-card p{
    color: #555;
    font-size: 14px;
}

.project-card a {
    display: inline-block;
    padding: 8px 15px;
    background-color: #007bff;
    margin-top: 10px;
    color: #fff;
    border: none;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    transition: ;
}

.project-card a:hover {
    background-color: #0056b3;
}

nav {
    background-color: #333;
    position: sticky;
    top: 0;
    text-align: center;
    z-index: 1000;
}

.navbar {
    list-style: none;
    display: flex;
    justify-content: center;
    color: white;
    padding: 10px 0;
    margin: 0;
    gap: 20px;
}

.navbar li a{
    color:white;
    text-decoration: none;
    font-weight: bold;
    padding: 6px 12px;
    dorder border-radius: 4px;
    transition: background-color 0.3s ease;
}

.navbar li a:hover {
    background-color: #555;
}   